<a href="https://colab.research.google.com/github/ASTROA-MAN/DATA_SCIENCE_PROJECTS_PHASE1/blob/main/Project10_Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING THE DEPENDENCIES**

**IMPORTING THE DEPENDENCIES**

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**DATA COLLECTION AND PROCESSING**

In [2]:
credit_card_data = pd.read_csv('/content/10_creditcard.csv')

In [3]:
# First 5 Rows Of The DataFrame
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
# Number Of Rows And Columns
credit_card_data.shape

(284807, 31)

In [6]:
# Information Of Dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# Checking The Missing Values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# Checking Distribution Of Legit Transactions And Fraudulent Transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

,where 0 is the Normal Transaction and 1 is the Fraudulent Transaction.

This Dataset is highly unbalanced.

In [9]:
# Separating The Data For Analysis
legit = credit_card_data[credit_card_data.Class ==0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
# Statistical Description Of The Dataset
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
# Comparing The Values For Both Transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**UNDER-SAMPLING**

BUILDING A SAMPLE DATASET CONTAINING SIMILAR DISTRIBUTION OF NORMAL AND FRAUDULENT TRANSACTIONS

NUMBER OF FRAUDULENT TRANSACTIONS : 492

In [14]:
legit_sample = legit.sample(n=492)

**CONCATENATING THE TWO DATAFRAMES**

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
181028,124793.0,1.987914,-0.373082,-0.274573,0.487315,-0.709761,-0.579676,-0.528448,-0.138255,1.076001,...,0.206277,0.869776,0.107830,0.071032,-0.180236,0.611036,-0.016723,-0.046324,14.55,0
30566,35985.0,-0.548214,0.899863,1.068149,-0.041514,1.164637,0.615678,0.823852,0.161737,-0.170015,...,-0.109002,-0.148430,-0.437206,-1.322253,0.433043,-0.386003,0.110932,0.090934,1.00,0
178105,123476.0,-1.351748,-1.972233,0.629813,-0.895247,0.749218,-0.615385,0.623546,-0.218748,-0.714628,...,-0.514095,-1.692484,1.136846,0.418897,-0.797875,-0.985647,-0.086074,0.039340,284.95,0
51918,45187.0,1.177170,0.602012,-0.477907,0.750399,0.304530,-0.767118,0.270819,-0.076067,-0.525999,...,-0.055037,-0.077386,-0.047619,0.127017,0.458872,0.366731,-0.014234,0.032505,0.76,0
253313,156193.0,2.224028,-0.573073,-1.278373,-0.878159,-0.501609,-1.412900,-0.200461,-0.520573,-0.757000,...,0.451095,1.396459,-0.030868,0.148529,0.252556,0.060965,-0.029509,-0.062118,15.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95614.833333,0.008467,-0.031010,-0.070537,0.049765,0.033525,0.022427,0.047046,0.083092,-0.031062,...,0.028434,0.001153,0.018604,-0.010166,-0.02678,-0.003404,0.023759,-0.008249,-0.006861,104.370671
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

**SPLITTING THE DATA INTO FEATURES AND TARGETS**

In [20]:
X = new_dataset.drop('Class', axis=1)
Y = new_dataset['Class']

print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
181028  124793.0  1.987914 -0.373082 -0.274573  0.487315 -0.709761 -0.579676
30566    35985.0 -0.548214  0.899863  1.068149 -0.041514  1.164637  0.615678
178105  123476.0 -1.351748 -1.972233  0.629813 -0.895247  0.749218 -0.615385
51918    45187.0  1.177170  0.602012 -0.477907  0.750399  0.304530 -0.767118
253313  156193.0  2.224028 -0.573073 -1.278373 -0.878159 -0.501609 -1.412900
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
181028 -0.528448 -0.138255  1.076001  ... -0.114526  0.206277  0.869776
30566   0.823852  0.161737 -0.170015  ... -0.181855 -0.109002 -0.148430
178105  0.623546 -0.218748 -0.714628  ...  0.494747 -0.514095 -1.692484
51918   0.270819 -0.076067 -0.525999  ... -0.063044 -0.055037 -0.077386
253313 -0.200461 -0.520573 -0.757000  ...  0.062168  0.451095  1.396459
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
181028  0.107830  0.071032 -0.180236  0.611036 -0.016723 -0.046324   14.55
30566  -0.437206 -1.322253  0.433043 -0.386003  0.110932  0.090934    1.00
178105  1.136846  0.418897 -0.797875 -0.985647 -0.086074  0.039340  284.95
51918  -0.047619  0.127017  0.458872  0.366731 -0.014234  0.032505    0.76
253313 -0.030868  0.148529  0.252556  0.060965 -0.029509 -0.062118   15.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
181028    0
30566     0
178105    0
51918     0
253313    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

**SPLITTING INTO TRAINING AND TEST DATASET**

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

**MODEL TRAINING**

LOGISTIC REGRESSION

In [23]:
model = LogisticRegression()

In [24]:
# Training The Logistic Regression Model With Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

**MODEL EVALUATION**

ACCURACY SCORE

In [25]:
# Accuracy On Training Data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('TRAINING DATA ACCURACY :', training_data_accuracy)

TRAINING DATA ACCURACY : 0.9390088945362135

In [26]:
# Accuracy On Test Data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

print('TEST DATA ACCURACY :', test_data_accuracy)

TEST DATA ACCURACY : 0.9289340101522843

**CREATING A PREDECTIVE SYSTEM**

In [28]:
input_data = (13323,-5.45436177939673,8.28742055534983,-12.7528112729386,8.59434189301081,-3.10600228114338,-3.17994875686414,-9.25279393795831,4.24506220985367,-6.32980084623466,-13.1366983691039,11.228470279576,-17.1313009454468,-0.169401056814124,-18.0499976898594,-1.36623566099065,-9.7235653091894,-14.7449024646768,-5.24730110631125,-0.574675143795817,1.30586191483437,1.84616479291417,-0.267171794223081,-0.310803969751621,-1.20168545799806,1.35217609502433,0.608424596360403,1.57471478384204,0.808725205090233,1)

# Converting the input_data Into numpy Array
input_data_npArray = np.asarray(input_data)

# Reshaping the np Array As We're Taking Just One Instance
input_data_reshaped = input_data_npArray.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

print(prediction)

if(prediction[0] ==0):
  print("IT'S A NORMAL TRANSACTION")
else:
  print("IT'S A FRAUDULENT TRANSACTION")

[1]
IT'S A FRAUDULENT TRANSACTION

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"